body { font-family: Arial; margin:0; }
header { background:#0a3d2e; color:white; padding:10px; text-align:center;}
nav a { color:white; margin:10px; }
.hero { background:#1abc9c; padding:60px; text-align:center; color:white;}
button { padding:10px; background:#0a3d2e; color:white; border:none;}
@media (max-width:768px){ nav a{display:block;} }